*{
    box-sizing: border-box;
}
.sidebar_.active{
      transform: translateX(0);
}


/* nav bar */
@media (min-width:1025px){
 .sidebar_{
  width: 25%;
 }
  .navBarHiden_{
    display: none;
  }
}



@media (max-width:1024px){
  .main_{
    border-radius: 0;
  }
.sidebar_{
  border-radius: 0;
position: fixed;
top: 0;
left: 0;
height:100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}    
/* index */
.setting_{
    margin-top: auto;
}

/*  */

}